:root {
  /* color */
  --color-primary: #232e26;
  --color-secondary: #d9efde;

  --hover-primary: #747674;
  --hover-secondary: #bfd3c4;

  /* font size */
  --heading-1: 5rem; /*80px*/
  --heading-2: 3.125rem; /*50px*/
  --heading-3: 3rem; /*48px*/
  --heading-4: 2.625em; /*42px*/
  --heading-5: 2.375rem; /*38px*/

  --text-1: 1.5rem; /*24px*/
  --text-2: 1.25rem; /*20px*/
  --text-3: 1.125rem; /*18px*/
  --text-4: 1rem; /*16px*/
  --text-5: 0.875rem; /*14px*/
  --text-6: 0.75rem; /*12px*/
  --text-7: 0.625rem; /*10px*/
  --text-8: 0.5rem; /*8px*/

  /* font weight */
  --weight-1: 800;
  --weight-2: 700;
  --weight-3: 600;
  --weight-4: 500;
  --weight-5: 400;
}

html,
body {
  width: 100vw;
  background: var(--color-primary);
  overflow-x: hidden;
}

nav {
  background: var(--color-secondary);
  border-radius: var(--heading-4);
}

.logo-left a {
  font-size: var(--text-1);
}

nav a {
  text-decoration: none;
  font-size: var(--text-4);
  color: var(--color-primary);
}

nav a:not(:first-child):hover {
  color: var(--hovercolor-1);
}

.links .btn-nav {
  padding: var(--text-8) var(--text-2);
  border-radius: var(--heading-2);
}

.btn-contact {
  border: 1px solid var(--color-primary);
  background: none;
}

.btn-download {
  background: var(--color-primary);
  border: none;
  color: var(--color-secondary);
}

.hero-heading-left .content > h1 {
  font-size: var(--heading-1);
  color: var(--color-secondary);
}

.hero-heading-left .content > p {
  font-size: var(--text-3);
  color: var(--color-secondary);
}

.hero-heading-left .actions > .btn-download {
  font-size: var(--text-3);
  color: var(--color-primary);
  background: var(--color-secondary);
  border-radius: var(--heading-2);
  padding: var(--text-8) var(--text-2);
}

.hero-heading-right {
  background: var(--color-secondary);
  border-radius: var(--heading-4);
}

.hero-heading-right .content {
  color: var(--color-primary);
}

.hero-heading-right .content > p {
  font-weight: 400;
  font-size: var(--text-5);
}

.hero-heading-right .content > h2 {
  font-weight: 600;
  font-size: var(--heading-5);
}

.hero-heading-right .btn-learn {
  background: var(--color-primary);
  color: var(--color-secondary);
  padding: var(--text-8) var(--text-2);
  border-radius: var(--heading-2);
}

.testimonial {
  color: var(--color-secondary);
}

.testimonial .upper-testi div:first-child span {
  font-size: var(--text-5);
  text-transform: uppercase;
}
